.Berlin {

background-color: #34495E;
border-radius: 20px;
padding: 21px;
color: aliceblue;

}
.Rome {

    background-color: #34495E;
    border-radius: 20px;
    padding: 21px;
color: aliceblue;
}

.Madrid {
background-color: #34495E;
border-radius: 20px;
padding: 21px;
color: aliceblue;
}